<% stats_url = "#{ENV.fetch('KONA_API_URL', 'https://kona-api.fly.dev')}/activity-stats" %>
<section data-nosnippet class="stats stats--has-four" data-controller="live-update" data-live-update-url-value="<%= stats_url %>" data-live-update-fetch-on-connect-value="true" data-action="visibilitychange@document->live-update#handleVisibilityChange" aria-labelledby="hed-stats">
  <h3 class="stats__heading" id="hed-stats">Monthly Totals <i>from</i> <a href="https://intervals.icu" target="_blank" rel="nofollow noopener">Intervals.icu</a></h3>
</section>
