<div class="stats__stat">
  <span class="stats__meta"><%= activity %></span>
  <span class="stats__number"><%= format_distance_number(distance) %></span>
  <span class="stats__meta"><%= format_distance_unit(distance) %> <%= "😬" if distance == 0 %></span>
</div>
