<div class="stats__stat">
  <span class="stats__meta"><%= "Activity".pluralize(activities) %> <%= timeframe %></span>
  <span class="stats__number"><%= number_to_delimited(activities) %></span>
  <% strava = data.site.socialsCollection.items.compact.find { |i| i.title == "Strava" } %>
  <span class="stats__meta"><%= link_to "View on Strava", strava.destination, rel: "me noopener", target: "_blank" %></span>
</div>
