<div class="stats__stat">
  <span class="stats__meta"><%= "Activity".pluralize(total) %></span>
  <span class="stats__number"><%= number_to_delimited(total) %></span>
  <span class="stats__meta"><%= timeframe %></span>
</div>
