<div class="stats__stat">
  <span class="stats__meta"><%= label %></span>
  <span class="stats__number"><%= value %><% if defined?(unit) %><span class="stats__unit"><%= unit %></span><% end %></span>
  <span class="stats__meta"><%= metric %></span>
</div>
