#header,
#nav,
#social-sharing,
#you-may-also-like,
#footer,
.entry__heading-permalink {
  display: none;
}

body,
.content,
.content__main {
  display: block;
}

.entry__table {
  margin-left: 0;
  margin-right: 0;
}

.entry__figure {
  break-inside: avoid;
  margin-left: 0;
  margin-right: 0;
}

.entry__body a {
  text-decoration: none;

  &:link,
  &:visited {
    color: var(--color-link);
  }

  &::after {
    color: var(--color-text-secondary);
    content: "(" attr(href) ")";
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    vertical-align: middle;
  }
}

.entry__meta a {
  text-decoration: none;
}

img {
  height: auto;
  margin: 0 auto;
  max-height: 90vh;
  page-break-inside: avoid;
  width: auto
}
