#header,
#nav,
#share,
#you-may-also-like,
#footer {
  display: none;
}

.entry__figure {
  break-inside: avoid;
}

.entry__body a {
  &::after {
    color: var(--color-text-secondary);
    content: " (" attr(href) ")";
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    vertical-align: middle;
    
  }
}
