#header,
#nav,
#social-sharing,
#you-may-also-like,
#footer {
  display: none;
}

body,
.content,
.content__main {
  display: block;
}

.entry__table {
  margin-left: 0;
  margin-right: 0;
}

.entry__figure {
  break-inside: avoid;
  margin-left: 0;
  margin-right: 0;
}

.entry__body a {
  &::after {
    color: var(--color-text-secondary);
    content: " (" attr(href) ")";
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    vertical-align: middle;
    
  }
}
