<section class="collection <%= "collection--#{variant}" if defined?(variant) %>">
  <% if title.present? %>
    <h3 class="collection__heading"><%= smartypants(remove_widows(title)) %></h3>
  <% end %>
  <ol class="collection__list">
    <% items.each do |item| %>
      <li class="collection__item">
        <% if item.entry_type.present? %>
          <%= partial 'partials/article/summary', locals: { article: item } %>
        <% else %>
          <%= partial 'partials/event', locals: { event: item } %>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>
