<% if has_affiliate_links?(entry) %>
<aside>
  <p>Please note that this article contains affiliate links. As an Amazon Associate, I earn from qualifying purchases made through the Amazon links on this page.</p>
</aside>
<% end %>
