<header class="header" aria-labelledby="title">
  <a href="/" class="header__link">
    <h1 class="header__hed">
      <span class="sr-only" id="title"><%= data.site.title %></span>
      <%= partial 'partials/logo.svg.erb' %>
    </h1>
  </a>
  <%= partial 'partials/nav', locals: { items: data.site.navLinksCollection.items.compact } %>
</header>
