<header class="header" aria-labelledby="title">
  <a href="/" class="header__link">
    <h1 class="header__hed" id="title">
      <% if data.site.svgLogo.present? %>
        <span class="sr-only" id="header-blog-name"><%= data.site.title %></span>
        <%= data.site.svgLogo %>
      <% else %>
        <%= data.site.title %>
      <% end %>
    </h1>
  </a>

  <% menu_items = data.site.navigationCollection.items.compact  %>
  <% if menu_items.present? %>
    <nav class="header__nav">
      <% menu_items.each do |i| %>
        <%= link_to i.title, i.destination, class: "header__nav-item" %>
      <% end %>
    </nav>
  <% end %>
  
</header>
