<meta charset="utf-8">
<% if defined?(content) %>
  <title><%= title_tag(content) %></title>
<% elsif current_page.data.title.present? %>
  <title><%= title_tag(current_page.data.title) %></title>
<% end %>
<% if defined?(content) %>
  <meta name="description" content="<%= content_summary(content) %>">
<% elsif current_page.data.summary.present? %>
  <meta name="description" content="<%= current_page.data.summary %>">
<% end %>
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="theme-color" content="#BF0222">
<% if config[:context] != 'production' || (defined?(content) && hide_from_search_engines?(content)) %>
  <meta name="robots" content="noindex">
<% end %>
