<% if items.present? %>
  <nav class="nav" id="nav">
    <ol class="nav__list">
    <% items.each do |i| %>
      <li class="nav__item">
        <% if i.openInNewTab %>
          <%= link_to i.title, i.destination, rel: "noopener", target: "_blank" %>
        <% else %>
          <%= link_to i.title, i.destination %>
        <% end %>
      </li>
    <% end %>
    </ol>
  </nav>
<% end %>
