<% related_entries = related_articles(article) %>
<% if related_entries.present? %>
  <section class="related">
    <h3 class="related__heading">You May Also Like</h3>
    <ol class="content__list">
      <% related_entries.each do |item| %>
        <li class="content__list-item">
          <%= partial 'partials/article_related', locals: { article: item } %>
          <% unless item == related_entries.last %><hr class="content__separator"><% end %>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
