<section class="stats">
  <%= partial 'partials/stats/total',    locals: { timeframe: 'In the past month', activities: data.strava.recent_swim_totals.activities + data.strava.recent_ride_totals.activities + data.strava.recent_run_totals.activities } %>
  <%= partial 'partials/stats/activity', locals: { activity: 'Swimming', distance: data.strava.recent_swim_totals.distance } %>
  <%= partial 'partials/stats/activity', locals: { activity: 'Cycling', distance: data.strava.recent_ride_totals.distance } %>
  <%= partial 'partials/stats/activity', locals: { activity: 'Running', distance: data.strava.recent_run_totals.distance } %>
</section>
