<div class="weather" data-controller="live-update" data-live-update-url-value="<%= url_for('/xhr/weather.html') %>" data-live-update-polling-frequency-value="<%= ENV['XHR_POLLING_FREQUENCY'] %>">
  <div class="weather__icon" aria-hidden="true"><%= partial "icons/thin/#{weather_icon}.svg" %></div>
  <div class="weather__text"><%= weather_summary %></div>
</div>
