<div class="home__block" data-controller="live-update" data-live-update-url-value="<%= url_for('/xhr/weather.html') %>" data-live-update-polling-frequency-value="<%= ENV['XHR_POLLING_FREQUENCY'] %>">
  <div class="home__block-icon" aria-hidden="true"><%= partial "icons/thin/#{weather_icon}.svg" %></div>
  <div class="home__block-text"><%= weather_summary %></div>
</div>
