.nav {
  @include bp-nav {
    grid-area: nav;
  }
}

.nav__list {
  background-color: var(--color-header-background);
  inset: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
  opacity: 0;
  padding: calc(var(--content-padding) * 3) var(--content-padding);
  position: absolute;
  transition: opacity var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 2;

  @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    backdrop-filter: blur(20px);
    background-color: var(--color-nav-background);
  }

  .has-nav-open & {
    opacity: 1;
    visibility: visible;
  }

  @include bp-nav {
    backdrop-filter: none;
    background: none;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-end;
    padding: 0;
    opacity: 1;
    position: relative;
    visibility: visible;
    width: auto;
  }
}

.nav__item {
  align-items: center;
  display: flex;
  flex-flow: nowrap;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-small);
  line-height: var(--line-height-small);
  text-transform: uppercase;

  a {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 0;
    text-decoration: none;
    width: 100%;
  }

  a:link,
  a:visited {
    box-shadow: 0 2px 0 var(--color-border);
    color: var(--color-text);
  }

  a:hover,
  a:active {
    box-shadow: 0 2px 0 var(--color-link-hover);
    color: var(--color-link-hover);
  }

  a:active {
    color: var(--color-link);
  }

  a.current {
    box-shadow: 0 2px 0 var(--color-link);
  }

  @include bp-nav {
    font-size: var(--font-x-small);
    line-height: var(--line-height-x-small);

    &::after {
      color: var(--color-text-tertiary);
      content: "/";
    }
  
    &:last-child::after {
      content: none;
    }

    a {
      display: inline-block;
      padding: 0 1rem;
    }

    a:link,
    a:visited {
      box-shadow: none;
    }

    a:hover,
    a:active {
      box-shadow: 0 2px 0 var(--color-link-hover);
    }
  }
}

.nav__hamburger {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;

  svg {
    height: 1.5rem;
    width: 1.5rem;

    path,
    g {
      fill: currentcolor;
    }
  }

  @include bp-nav {
    display: none;
  }

  .nav__hamburger-closed {
    display: flex;
  }

  .nav__hamburger-open {
    display: none;
  }

  .has-nav-open & {
    .nav__hamburger-closed {
      display: none;
    }
  
    .nav__hamburger-open {
      display: flex;
    }
  }
}
