.blog {
  grid-column: 1 / -1;
  grid-gap: var(--row-gap) var(--column-gap);
  width: 100%;

  @media (min-width: #{$bp-medium}) {
    grid-column: 3 / -3;
  }
}

.blog__header {
  @extend .extend-entry-header;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: var(--padding);
  padding-bottom: var(--padding);

  @media (min-width: #{$bp-medium}) {
    text-align: center;
  }

  .blog__hed {
    @extend .extend-heading-gradient;
  
    @supports (text-box-edge: cap) and (text-box-trim: trim-both) {
      @media (min-width: #{$bp-medium}) {
        margin: 1rem;
      }
    }
  
    @supports not ((text-box-edge: cap) or (text-box-trim: trim-both)) {
      margin: 0;
      padding: 1rem 0;
  
      @media (min-width: #{$bp-medium}) {
        padding-top: 0;
      }
    }
  }
}

.blog__list-item {
  grid-column: 1 / -1;

  &::last-of-type {
    margin-bottom: 0;
  }
}

.blog__separator {
  border: none;
  border-top: 1px solid var(--color-border);
  margin: var(--padding) 0;
  width: 25%;
}
