.collection {
  border-top: 2px solid var(--color-border);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding: var(--padding) 0 0 0;
}

.collection__heading {
  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-semi-large);
  font-weight: 700;
  grid-column: 1 / -1;
  line-height: var(--line-height-semi-large);
  margin-bottom: 1.125rem;
}

.collection__list {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-template-columns: subgrid;
}

.collection__item {
  grid-column: 1 / -1;
}

.collection--centered {
  grid-column: 1 / -1;

  @include bp-medium {
    grid-column: 3 / -3;
  }

  .collection__item {
    @include bp-medium {
      grid-column: span 4;
    }
  }
}

.collection--halves .collection__item {
  @include bp-medium {
    grid-column: span 6;
  }
}

.collection--thirds .collection__item {
  @include bp-medium {
    grid-column: span 4;
  }
}

.collection--quarters .collection__item {
  @include bp-medium {
    grid-column: span 3;
  }
}

.collection--full-width {
  grid-column: 1 / -1;

  @include bp-medium {
    grid-column: 3 / -3;
  }

  .collection__item {
    grid-column: 1 / -1;
  }
}
