.content {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: var(--gutter);
  max-width: var(--max-width-container);
  width: 100%;
}

.content__primary {
  max-width: var(--max-width-content);
}

.content__header {
  @extend .extend-entry-header;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: var(--gutter);
  padding-bottom: var(--gutter);
  text-align: center;

  h2 {
    margin: 0;
  }
}

