.entry {
  grid-column: 1 / -1;
}

.entry__header {
  @extend .extend-entry-header;
}

.entry--large .entry__header {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: var(--padding);
  padding-bottom: var(--padding);
  text-align: center;

  h2 {
    margin: 0;
  }
}

.entry__meta {
  color: var(--color-text-secondary);
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: 2;
  text-transform: uppercase;

  & + h2 {
    margin-top: 0;
  }

  a:link, a:visited {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link);
    text-decoration: none;
  }

  span::after {
    color: var(--color-text-tertiary);
    content: ' / ';
  }

  span:last-of-type::after {
    content: '';
  }
}

.entry__draft {
  color: var(--color-firebrick);
  font-weight: 600;

  &::after {
    font-weight: normal;
  }
}

.entry__body {
  h3,
  h4 {
    font-family: var(--ibm-plex-sans-condensed);
    font-size: var(--font-medium);
    font-weight: 700;
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  h4 {
    font-weight: 400;
  }

  p,
  ul,
  ol {
    font-family: var(--lato);
    font-size: var(--font-medium);
    font-weight: 300;
    line-height: 1.5;
    margin: 1.5rem 0;

    code {
      background-color: var(--color-code-background);
      border-radius: 2px;
      border: 1px solid var(--color-code-border);
      color: var(--color-code-text);
      font-family: var(--ibm-plex-mono);
      font-size: var(--font-small);
      padding: 0 4px;
    }
  }

  ul li {
    list-style-type: disc;

    &::marker {
      color: var(--color-list-marker);
    }
  }

  ol,
  ul {
    margin: 0 1rem;

    @media (min-width: #{$bp-medium}) {
      margin: 0;
    }
  }

  ol {
    counter-reset: ol-counter;
    list-style: none;

    li {
      counter-increment: ol-counter;
      position: relative;
    }

    li::before {
      color: var(--color-list-marker);
      content: counter(ol-counter) ".";
      font-family: var(--ibm-plex-mono);
      font-size: var(--font-small);
      left: -1rem;
      line-height: 2;
      position: absolute;

      @media (min-width: #{$bp-medium}) {
        left: -2rem;
      }
    }
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i,
  cite {
    font-style: italic;
  }

  abbr {
    text-decoration: none;
  }

  small {
    color: var(--color-text-secondary);
    font-size: var(--font-x-small);
    font-weight: 300;
    line-height: 2;
  }

  aside {
    background-color: var(--color-aside-background);
    border-radius: 2px;
    border: 1px solid var(--color-aside-border);
    color: var(--color-aside-text);
    font-size: var(--font-small);
    line-height: 2;
    margin: 2rem 0;
    padding: 0 2rem;
  }

  blockquote {
    border-left: 4px solid var(--color-blockquote-border);
    margin: 1.5rem 0;
    padding: 0 1.5rem;

    p {
      color: var(--color-text-secondary);
      font-style: italic;
    }

    i,
    em,
    cite {
      font-style: normal;
    }
  }

  pre {
    code {
      font-family: var(--ibm-plex-mono);
      font-size: var(--font-x-small);
    }
  }

  hr {
    border: none;
    margin: 0;

    &::after {
      color: var(--color-accent);
      content: "❖";
      display: block;
      font-family: var(--ibm-plex-sans-condensed);
      font-size: var(--font-medium);
      line-height: 1.5;
      margin: 1.5rem auto;
      text-align: center;
    }
  }

  table {
    border-collapse: collapse;
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    margin: 1.5rem 0;
    width: 100%;

    thead tr {
      background-color: var(--color-table-header-background);
      color: var(--color-text);
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
    }

    th,
    td {
      padding: 1rem 1rem;
    }

    tbody tr {
      background-color: var(--color-table-cell-background);
      border-bottom: 1px solid var(--color-table-cell-border);

      &:nth-of-type(even) {
        background-color: var(--color-table-even-cell-background);
      }

      &:last-of-type {
        border-bottom: 2px solid var(--color-table-last-cell-border);
      }
    }

    @media screen and (max-width: 768px) {  
      border-bottom: 2px solid var(--color-table-last-cell-border);
      border-top: 2px solid var(--color-table-last-cell-border);

      thead {
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      tbody {
        tr {
          border: none;
          display: block;

          &:last-of-type {
            &, td:last-of-type {
              border: none;
            }
          }
        }
        
        td {
          border-bottom: 1px solid var(--color-table-cell-border);
          display: block;
          text-align: right;

          &:nth-of-type(odd) {
            background-color: var(--color-background);
          }

          &:nth-of-type(even) {
            background-color: var(--color-table-even-cell-background);
          }

          &:last-of-type {
            border-bottom: 2px solid var(--color-table-last-cell-border);
          }
        }
        
        td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .gist,
  .cp_embed_wrapper  {
    display: block;
    margin: 1.5rem 0;
    max-width: 100%;
  }

  iframe {
    aspect-ratio: var(--aspect-ratio, 16 / 9);
    display: block;
    margin: 1.5rem 0;
    width: 100%;
  }

  a:link,
  a:visited {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--color-link);
    text-decoration: underline;
  }

  form {
    display: flex;
    flex-flow: column;
    margin: 1.5rem 0;
  }
  
  label {
    display: flex;
    flex-flow: column;
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    line-height: 2;
    margin: 0 0 2rem 0;
    text-indent: 0;

    &.hp {
      display: none;
    }
  }
  
  input,
  textarea {
    border: 1px solid var(--color-border);
    border-radius: 2px;
    color: var(--color-form-text);
    font-family: var(--lato);
    font-size: var(--font-x-small);
    font-style: normal;
    font-weight: 300;
    line-height: 2;
  }

  textarea {
    height: 240px;
  }
  
  button[type=submit] {
    align-self: flex-start;
    background-color: var(--color-button-background);
    border-radius: 2px;
    border: 1px solid var(--color-button-border);
    color: var(--color-button-text);
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    font-style: normal;
    font-weight: 300;
    line-height: 2;
    padding: 0 2rem;

    &:hover {
      background-color: var(--color-button-hover);
      cursor: pointer;
    }
  
    &:active {
      transform: translateY(1px);
    }
  }

  .entry__figure {
    margin: 1.5rem calc(var(--picture-outdent) * -1) 1.5rem calc(var(--picture-outdent) * -1); 

    figcaption {
      color: var(--color-text);
      font-family: var(--ibm-plex-mono);
      font-size: var(--font-x-small);
      font-style: italic;
      font-weight: 300;
      line-height: 2;
      margin: 0.5rem var(--picture-outdent) 0 var(--picture-outdent);
  
      i,
      em,
      cite {
        font-style: normal;
      }
  
      b,
      strong {
        font-style: normal;
        font-weight: 600;
      }
  
      cite {
        color: var(--color-text-secondary);
      }
    }
  }

  .entry__figure--gif {
    margin: 1.5rem 0;

    figcaption {
      margin: 0.5rem 0 0 0;
    }
  }

  .entry__read-more {
    color: var(--color-text-secondary);
    display: block;
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    line-height: 2;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
  
    &:link,
    &:visited {
      color: var(--color-text-secondary);
      text-decoration: none;
    }
  
    &:hover,
    &:active {
      color: var(--color-link);
      text-decoration: none;
    }

    &::after {
      color: currentColor;
      content: "»";
      margin: 0 0 0 .5rem;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.entry--large {
  .entry__body > p:last-of-type::after {
    background-color: var(--color-accent);
    content: "";
    display: inline-block;
    height: 0.5rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 0.5rem;
  }
}

.entry--compact {
  .entry__header {
    h2 {
      font-size: var(--font-medium);
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
    }
  }
  .entry__body > p:first-child {
    margin-top: 0;
  }
}

.entry__disclosure {
  color: var(--color-text-tertiary);
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: 2;
}

.entry--related {
  margin-bottom: 2rem;

  .entry__header {
    h4 {
      line-height: 1.5;
      margin: 0;
    }
  }

  .entry__body {
    p {
      font-size: var(--font-small);
    }
  }
}
