.entry__header {
  @extend .extend-entry-header;
}

.entry__meta {
  color: var(--color-text-secondary);
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  text-transform: uppercase;

  a:link, a:visited {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link-hover);
    text-decoration: none;
  }

  span::after {
    color: var(--color-text-tertiary);
    content: ' / ';
  }

  span:last-of-type::after {
    content: '';
  }
}

.entry__meta--truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry__highlight {
  color: var(--color-firebrick);
  font-weight: 600;

  &::after {
    font-weight: normal;
  }
}

.entry__highlight--live::before {
  animation: 1s blink ease infinite;
  background: currentColor;
  border-radius: 100%;
  content: ' ';
  display: inline-block;
  height: 0.5rem;
  margin-right: 0.25rem;
  width: 0.5rem;

  @media (prefers-reduced-motion) {
    display: none;
  }
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.entry__body {
  @extend .extend-body-styles;
  
  .entry__read-more {
    color: var(--color-text-secondary);
    display: inline-block;
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    line-height: var(--line-height-x-small);
    text-transform: uppercase;
  
    &:link,
    &:visited {
      color: var(--color-text-secondary);
      text-decoration: none;
    }
  
    &:hover,
    &:active {
      color: var(--color-link-hover);
      text-decoration: none;
    }

    &::after {
      color: currentColor;
      content: "»";
      left: 0.5rem;
      position: relative;
      top: -0.06rem;
    }
  }
}

.entry__figure {
  margin: 1.5rem calc(var(--picture-outdent) * -1) 1.5rem calc(var(--picture-outdent) * -1); 

  figcaption {
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    font-style: italic;
    font-weight: 300;
    line-height: 2;
    margin: 0 var(--picture-outdent) 0 var(--picture-outdent);
    padding: 0.5rem 0;

    i,
    em,
    cite,
    abbr,
    acronym {
      font-style: normal;
    }

    b,
    strong {
      font-style: normal;
      font-weight: 600;
    }

    cite {
      color: var(--color-text-secondary);
    }
  }
}

.entry__figure--gif {
  margin: 1.5rem 0;

  figcaption {
    margin: 0;
  }
}

.entry__table {
  border-collapse: collapse;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  margin: 2rem 0;
  width: 100%;

  thead tr {
    background-color: var(--color-table-header-background);
    color: var(--color-text);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  th,
  td {
    padding: 1rem 1rem;
  }

  tbody tr {
    background-color: var(--color-table-cell-background);
    border-bottom: 1px solid var(--color-table-cell-border);

    &:nth-of-type(even) {
      background-color: var(--color-table-even-cell-background);
    }

    &:last-of-type {
      border-bottom: 2px solid var(--color-table-last-cell-border);
    }
  }

  @media (max-width: #{$bp-medium}) {  
    border-bottom: 2px solid var(--color-table-last-cell-border);
    border-top: 2px solid var(--color-table-last-cell-border);

    thead {
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    tbody {
      tr {
        border: none;
        display: block;

        &:last-of-type {
          &, td:last-of-type {
            border: none;
          }
        }
      }
      
      td {
        border-bottom: 1px solid var(--color-table-cell-border);
        display: block;
        text-align: right;

        &:nth-of-type(odd) {
          background-color: var(--color-background);
        }

        &:nth-of-type(even) {
          background-color: var(--color-table-even-cell-background);
        }

        &:last-of-type {
          border-bottom: 2px solid var(--color-table-last-cell-border);
        }
      }
      
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.entry--article .entry__body {
  @extend .extend-drop-cap;
  @extend .extend-lead-in;
  @extend .extend-end-mark;
}

.entry--full {
  grid-column: 1 / -1;

  @media (min-width: #{$bp-medium}) {
    grid-column: 3 / -3;
  }
}

.entry--full {
  .entry__header {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--padding);
    padding-bottom: var(--padding);
    text-align: center;
  }

  .entry__hed {
    @extend .extend-heading-gradient;
    margin-top: 1rem;
  }
}

.entry--compact,
.entry--summary {
  .entry__hed {
    font-size: var(--font-medium);
    line-height: var(--line-height-medium);
    margin: 0;
  }
  
  .entry__body > p:first-child {
    margin-top: 0;
  }
}

.entry--summary {
  .entry__body {
    p {
      font-size: var(--font-small);
      line-height: var(--line-height-small);
      margin-top: 0;
    }
  }
}
