.entry__header {
  @extend .extend-entry-header;
}

.entry__meta {
  color: var(--color-text-secondary);
  display: flex;
  flex-flow: column;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  text-box-edge: text;
  text-box-trim: trim-both;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: var(--color-text-secondary);
  }

  a:hover, a:active {
    color: var(--color-link-hover);
  }

  a:focus {
    text-decoration: none;
  }

  svg {
    display: inline-block;
    height: var(--light-icon-size);
    vertical-align: text-bottom;
    width: var(--light-icon-size);

    g,
    path {
      fill: var(--color-text-tertiary);
    }
  }

  @media (min-width: #{$bp-medium}) {
    flex-flow: row wrap;

    span {
      margin-right: 0.5rem;
    }
  
    span:last-of-type {
      margin-right: 0;
    }
  }
}

.entry__highlight {
  color: var(--color-firebrick);
  font-weight: 600;

  a {
    &:link,
    &:visited {
      color: currentColor;
      text-decoration: none;
    }
  
    &:hover,
    &:active {
      color: currentColor;
      text-decoration: underline;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &::after {
    font-weight: normal;
  }

  svg {
    g,
    path {
      fill: var(--color-firebrick);
    }
  }
}

.entry__highlight--live svg {
  animation: 1s blink ease infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.entry__body {
  @extend .extend-body-styles;
  
  .entry__read-more {
    @extend .extend-primary-button;
  }
}

.entry__figure {
  margin: 1.5rem 0; 

  figcaption {
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    font-style: italic;
    font-weight: 300;
    line-height: 2;
    margin: 0;
    padding: 0.5rem 0;

    i,
    em,
    cite {
      font-style: normal;
    }

    b,
    strong {
      font-style: normal;
      font-weight: 600;
    }

    cite {
      color: var(--color-text-secondary);
    }
  }
}

.entry__table {
  overflow-x: scroll;
  margin: 2rem calc(var(--content-padding) * -1);

  @media (min-width: #{$bp-medium}) {
    margin: 2rem 0;
  }

  table {
    border-collapse: collapse;
    font-family: var(--ibm-plex-mono);
    font-size: var(--font-x-small);
    line-height: var(--line-height-x-small);
    width: 100%;
  }

  thead tr {
    background-color: var(--color-table-header-background);
    color: var(--color-text);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  th,
  td {
    padding: 1rem 1rem;
    white-space: nowrap;
  }

  tbody tr {
    background-color: var(--color-table-cell-background);
    border-bottom: 1px solid var(--color-table-cell-border);

    &:nth-of-type(even) {
      background-color: var(--color-table-even-cell-background);
    }

    &:last-of-type {
      border-bottom: 2px solid var(--color-table-last-cell-border);
    }
  }
}

.entry--article .entry__body {
  @extend .extend-drop-cap;
  @extend .extend-lead-in;
  @extend .extend-end-mark;
}

.entry--full,
.entry--compact {
  grid-column: 1 / -1;

  @media (min-width: #{$bp-medium}) {
    grid-column: 3 / -3;
  }
}

.entry--full {
  .entry__header {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--padding);
    padding-bottom: var(--padding);

    @media (min-width: #{$bp-medium}) {
      text-align: center;

      .entry__meta {
        justify-content: center;
      }
    }
  }

  .entry__hed {
    @extend .extend-heading-gradient;
  }
}

.entry--full.entry--article {
  .entry__hed {
    margin: 0;

    @supports (text-box-edge: cap) and (text-box-trim: trim-both) {
      @media (min-width: #{$bp-medium}) {
        margin: 1rem;
      }
    }

    @supports not ((text-box-edge: cap) or (text-box-trim: trim-both)) {
      padding: 1rem 0;

      @media (min-width: #{$bp-medium}) {
        padding-top: 0;
      }
    }
  }
}

.entry--full.entry--page {
  .entry__hed {
    @supports (text-box-edge: cap) and (text-box-trim: trim-both) {
      margin-bottom: -1rem;
    }
  }
}

.entry--compact,
.entry--summary {
  .entry__hed {
    font-size: var(--font-medium);
    line-height: var(--line-height-medium);
    margin: 0;
  }
  
  .entry__body > p:first-child {
    margin-top: 0;
  }
}

.entry--summary {
  .entry__body {
    p {
      font-size: var(--font-small);
      line-height: var(--line-height-small);
      margin-top: 0;
    }
  }
}

.entry--full {
  .entry__figure {
    margin: 1.5rem calc(var(--picture-outdent) * -1) 1.5rem calc(var(--picture-outdent) * -1);

    figcaption {
      margin: 0 var(--picture-outdent) 0 var(--picture-outdent);
    }
  }

  .entry__figure--gif,
  .entry__figure--embed,
  .entry__figure--iframe {
    margin: 1.5rem 0;
  
    figcaption {
      margin: 0;
    }
  }
}

.entry__heading-permalink {
  align-items: center;
  display: inline-flex;
  justify-items: center;
  margin-left: -1.5rem;
  margin-right: 0.5rem;

  svg {
    display: block;
    height: 1rem;
    width: 1rem;
  }

  &:link,
  &:visited {
    g,
    path {
      fill: var(--color-text-tertiary);
    }
  }

  &:hover,
  &:active {
    g,
    path {
      fill: var(--color-link-hover);
    }
  }

  &--hidden {
    display: none;
  }
}

.entry__heading-permalink-icon {
  display: block;
  height: 1rem;
  width: 1rem;

  &--hidden {
    display: none;
  }
}
