
.event__weather {
  color: var(--color-text-secondary);
  display: flex;
  flex-flow: column;
  gap: 0 1rem;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  text-box-edge: text;
  text-box-trim: trim-both;
  text-transform: uppercase;

  svg {
    display: inline-block;
    height: var(--light-icon-size);
    vertical-align: text-bottom;
    width: var(--light-icon-size);

    g,
    path {
      fill: var(--color-text-tertiary);
    }
  }
}

.event__weather-stats {
  display: flex;
  flex-flow: row wrap;
  gap: 0 1rem;
}

.event__weather-stat-group {
  display: flex;
  flex-flow: row nowrap;
  gap: 0 1rem;
}

.event__weather-heading {
  color: var(--color-text-secondary);
}
