.event--has-weather {
  .event__inner {
    grid-column: 1 / -1;

    @include bp-medium {
      grid-column: span 8;
    }
  }
}

.event__weather {
  color: var(--color-text);
  display: flex;
  flex-flow: column;
  gap: 0 1rem;
  grid-column: 1 / -1;
  margin-top: .5rem;
  text-box-edge: text;
  text-box-trim: trim-both;
  text-transform: uppercase;

  svg {
    display: inline-block;
    height: var(--light-icon-size);
    vertical-align: text-bottom;
    width: var(--light-icon-size);

    g,
    path {
      fill: var(--color-text);
    }
  }

  @include bp-medium {
    grid-column: span 4;
    margin: 0;
  }
}

.event__weather-stats {
  display: flex;
  flex-flow: row wrap;
  gap: 0 1rem;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
}

.event__weather-stat-group {
  display: flex;
  flex-flow: row nowrap;
  gap: 0 1rem;
}

.event__weather-heading {
  color: var(--color-text);
  font-family: var(--ibm-plex-sans-condensed);
  text-transform: none;
  font-size: var(--font-small);
  line-height: var(--line-height-small);
}

.event__weather-stat {
  white-space: nowrap;
}
