.footer {
  align-items: center;
  background: var(--color-footer-background);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;

  p,
  ul {
    color: var(--color-text);
    font-family: var(--lato);
    font-size: var(--font-x-small);
    font-weight: 300;
    line-height: 2;
  }

  i,
  em,
  cite {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }

  h2 {
    font-family: var(--ibm-plex-sans-condensed);
    font-size: var(--font-x-small);
    font-weight: 700;
    line-height: 2;
  }

  a:link, a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link);
    text-decoration: underline;
  }
}

.footer__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-template-columns: repeat(12, 1fr);
  max-width: var(--max-width-container);
  padding: var(--content-padding);
  width: 100%;
}

.footer__avatar {
  grid-column: span 2;

  @media (min-width: #{$bp-medium}) {
    grid-column: span 1;
  }

  img {
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.05), 0 4px 4px rgba(0,0,0,0.05), 0 8px 8px rgba(0,0,0,0.05), 0 16px 16px rgba(0,0,0,0.05);
    width: 100%;
  }
}

.footer__blurb {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  grid-column: 3 / -1;

  @media (min-width: #{$bp-medium}) {
    align-items: flex-start;
    align-self: self-start;
    grid-column: span 5;
  }

  picture {
    align-self: center;
    margin-right: 1rem;
  }

  a:link, a:visited {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link);
    text-decoration: underline;
  }
}

.footer__section {
  grid-column: span 4;

  @media (min-width: #{$bp-medium}) {
    grid-column: span 2;
  }
}
