.footer {
  align-items: center;
  background-color: var(--color-footer-background);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;

  p,
  ul {
    color: var(--color-text);
    font-family: var(--sans-serif);
    font-size: var(--font-x-small);
    font-weight: 300;
    line-height: 2;
  }

  i,
  em,
  cite {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }

  h2 {
    font-family: var(--serif);
    font-size: var(--font-x-small);
    font-weight: 700;
    line-height: 2;
  }

  a:link, a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link);
    text-decoration: underline;
  }
}

.footer__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-template-areas:
    ".        .        .        .        .        avatar   avatar   .        .        .        .        ."
    "blurb    blurb    blurb    blurb    blurb    blurb    blurb    blurb    blurb    blurb    blurb    blurb"
    "section1 section1 section1 section1 section2 section2 section2 section2 section3 section3 section3 section3";
  grid-template-columns: repeat(12, 1fr);
  max-width: var(--max-width-container);
  padding: var(--content-padding);
  width: 100%;

  @media (min-width: 768px) {
  grid-template-areas:
    ".        .        avatar   avatar   .        .     section1 section1 section2 section2 section3 section3"
    "blurb    blurb    blurb    blurb    blurb    blurb section1 section1 section2 section2 section3 section3";
  }
}

.footer__avatar {
  grid-area: avatar;

  img {
    border-radius: 100%;
    width: 100%;
  }
}

.footer__blurb {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  grid-area: blurb;

  picture {
    align-self: center;
    margin-right: 1rem;
  }

  a:link, a:visited {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color-link);
    text-decoration: underline;
  }
}

.footer__section {
  &::nth-of-type(1) {
    grid-area: section1;
  }

  &::nth-of-type(2) {
    grid-area: section2;
  }

  &::nth-of-type(3) {
    grid-area: section3;
  }
}
