.footer {
  --line-height-x-small: 2;
  align-items: center;
  background: var(--gradient-footer-background);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;

  p,
  ul {
    color: var(--color-text);
    font-family: var(--lato);
    font-size: var(--font-x-small);
    font-weight: 300;
    line-height: var(--line-height-x-small);
  }

  i,
  em,
  cite {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }
}

.footer__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem var(--column-gap);
  grid-template-columns: repeat(12, 1fr);
  max-width: var(--max-width-container);
  padding: var(--content-padding);
  width: 100%;
}

.footer__logo-link {
  align-items: center;
  display: flex;
  grid-column: span 2;

  &:link,
  &:visited {
    g,
    path {
      fill: var(--color-logo);
    }
  }

  &:hover,
  &:active {
    g,
    path {
      fill: var(--color-logo-hover);
    }
  }

  g,
  path {
    transition: fill var(--transition-duration);
  }
}

.footer__blurb {
  grid-column: span 12;

  @media (min-width: #{$bp-medium}) {
    grid-column: 1 / 8;
  }
}

.footer__socials {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  grid-column: span 12;
  justify-content: flex-start;



  @media (min-width: #{$bp-medium}) {
    grid-column: 3 / -1;
    grid-row: 1;
    justify-content: flex-end;
  }
}

.footer__social-item {
  margin-right: 0.25rem;

  @media (min-width: #{$bp-medium}) {
    margin-left: 0.25rem;
    margin-right: 0;
  }

  a {
    padding: .5rem;

    @media (min-width: #{$bp-medium}) {
      padding: 1rem;
    }
  }

  a:link,
  a:visited {
    border: 1px solid currentColor;
  }

  a:hover,
  a:active {
    border: 1px solid var(--color-share-button-border-hover);
  }
}

.footer__line {
  border: 0;
  border-top: 2px solid var(--color-border-footer);
  display: block;
  grid-column: 1 / -1;
  margin: 0;
  width: 100%;
}

.footer__menu {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row wrap;
}

.footer__menu-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-small);
  font-weight: bold;
  line-height: var(--line-height-small);

  @media (min-width: #{$bp-medium}) {
    font-size: var(--font-x-small);
    line-height: var(--line-height-x-small);
  }

  &::after {
    color: var(--color-border-footer);
    content: "/";
    display: inline-block;
    margin: 0 .25rem;

    @media (min-width: #{$bp-small}) {
      margin: 0 .5rem;
    }

    @media (min-width: #{$bp-medium}) {
      margin: 0 1rem;
    }
  }

  &:last-child::after {
    content: none;
  }

  a {
    display: inline-block;
  }

  a:link,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a:hover,
  a:active {
    box-shadow: 0 2px 0 var(--color-link-hover);
    color: var(--color-link-hover);
    text-decoration: none;
  }
}

.footer__copyright {
  grid-column: 1 / -1;
}
