.header {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-template-areas:
    ".   .   logo logo logo logo logo logo logo logo .   ."
    "nav nav nav  nav  nav  nav  nav  nav  nav  nav  nav nav";
  grid-template-columns: repeat(12, 1fr);
  width: 100%;

  @media (min-width: #{$bp-small}) {
    grid-template-areas:
      ".   .   .    logo logo logo logo logo logo .    .   ."
      "nav nav nav  nav  nav  nav  nav  nav  nav  nav  nav nav";
  }

  @media (min-width: #{$bp-medium}) {
    grid-template-areas: "logo logo logo nav nav nav nav nav nav nav nav nav";
  }
}

.header__link {
  display: block;
  grid-area: logo;
  text-decoration: none;

  &:link,
  &:visited {
    g,
    path {
      fill: var(--color-logo);
    }
  }

  &:hover,
  &:active {
    g,
    path {
      fill: var(--color-logo-hover);
    }
  }

  g,
  path {
    transition: fill var(--transition-duration);
  }

  @media (min-width: #{$bp-medium}) {
    margin-bottom: 0;
    max-width: none;
  }
}

.header__hed {
  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-medium);
  font-weight: 300;
  line-height: 1.5;
}
