.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  @include bp-nav {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    gap: var(--row-gap) var(--column-gap);
    grid-template-areas: "logo logo logo nav nav nav nav nav nav nav nav nav";
    grid-template-columns: subgrid;
  }
}

.header__link {
  display: block;
  grid-area: logo;
  text-decoration: none;
  width: 180px;

  &:link,
  &:visited {
    g,
    path {
      fill: var(--color-logo);
    }
  }

  &:hover,
  &:active {
    g,
    path {
      fill: var(--color-logo-hover);
    }
  }

  g,
  path {
    transition: fill var(--transition-duration);
  }

  @include bp-nav {
    width: auto;
  }
}
