.home {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-template-columns: subgrid;
}

.home__intro {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 0 var(--column-gap);
  grid-template-columns: subgrid;
}

.home__headline {
  @extend .extend-heading-gradient;
  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-x-large);
  grid-column: 1 / -1;
  line-height: var(--line-height-x-large);
  margin: 0 0 -1rem 0;

  @include bp-medium {
    grid-column: 2 / -2;
  }
}

.home__body {
  @extend .extend-body-styles;
  grid-column: 1 / -1;

  @include bp-medium {
    grid-column: 3 / -2;
  }
}

.home__body--fancy {
  @extend .extend-drop-cap;
  @extend .extend-lead-in;
  @extend .extend-end-mark;
}


.home__figure {
  border-radius: 100%;
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
  shape-outside: margin-box;
  width: calc((((100vw - (2 * var(--content-padding)) - (11 * var(--column-gap)))/12) * 5) + (4 * var(--column-gap)));

  img { 
    @extend .extend-box-shadow;
    border-radius: 100%;
  }

  @include bp-medium {
    margin-right: calc(-1 * ((((100vw - (2 * var(--content-padding)) - (11 * var(--column-gap)))/12)) + var(--column-gap)));
  }

  @include bp-large {
    margin-right: calc(-1 * ((((var(--max-width-container) - (2 * var(--content-padding)) - (11 * var(--column-gap)))/12)) + var(--column-gap)));
    width: calc((((var(--max-width-container) - (2 * var(--content-padding)) - (11 * var(--column-gap)))/12) * 5) + (4 * var(--column-gap)));
  }
}

.home__heading {
  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-medium);
  font-weight: 700;
  line-height: var(--line-height-medium);
  margin-bottom: 1.5rem;
}

.home__entries-articles {
  grid-column: span 12;

  @include bp-medium {
    grid-column: span 6;
  }
}

.home__entries-races {
  grid-column: span 12;

  @include bp-medium {
    grid-column: span 4;
  }
}
