.nav {
  grid-area: nav;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media (min-width: #{$bp-medium}) {
    justify-content: flex-end;
  }
}

.nav__item {
  align-items: center;
  display: flex;
  flex-flow: nowrap;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-small);
  line-height: var(--line-height-small);
  text-transform: uppercase;

  @media (min-width: #{$bp-medium}) {
    font-size: var(--font-x-small);
    line-height: var(--line-height-x-small);
  }

  &::after {
    color: var(--color-text-tertiary);
    content: "/";
  }

  &:last-child::after {
    content: none;
  }

  a {
    display: inline-block;
    padding: 0 1rem;
  }

  a:link,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a:hover,
  a:active {
    box-shadow: 0 2px 0 var(--color-link-hover);
    color: var(--color-link-hover);
    text-decoration: none;
  }

  a.current {
    box-shadow: 0 2px 0 var(--color-link);
  }
}
