.notifications {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 100;

  .notification {
    border-radius: 5px;
    background-color: transparentize(whote, 0.25);
    color: black;
    cursor: pointer;
    font-family: var(--lato);
    font-size: var(--font-small);
    font-weight: 300;
    line-height: var(--line-height-small);
    margin: 0 auto 1rem;
    max-width: calc(100% - (2 * var(--content-padding)));
    padding: 1rem;
    text-align: center;
    transition: opacity ease-in var(--transition-duration);

    &.is-success {
      // Forest green
      background-color: transparentize(#008F3E, 0.25);
      color: white;
    }

    &.is-warning {
      // Sunglow
      background-color: transparentize(#F9CB40, 0.25);
      color: var(--color-rich-black-darker);
    }

    &.is-danger {
      // Red CMYK
      background-color: transparentize(#F2022A, 0.25);
      color: white;
    }

    &.is-transparent {
      opacity: 0;
    }
  }

  @supports (backdrop-filter: none) {
    .notification {
      backdrop-filter: blur(10px);
    }
  }
}
