.pagination {
  border-top: 2px solid var(--color-border);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: var(--row-gap);
}

.pagination__link {
  color: var(--color-text-tertiary);
  display: block;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: 2;
  text-transform: uppercase;
}

.pagination__link--active {
  &:link, &:visited {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  &:hover, &:active {
    color: var(--color-link);
    text-decoration: none;
  }
}

.pagination__link--next::after {
  color: currentColor;
  content: "»";
  margin: 0 0 0 .5rem;
}

.pagination__link--previous::before {
  color: currentColor;
  content: "«";
  margin: 0 .5rem 0 0;
}
