.pagination {
  border-top: 2px solid var(--color-border);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: var(--row-gap);
  padding-top: var(--row-gap);
}

.pagination__link {
  color: var(--color-text-tertiary);
  display: block;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  text-transform: uppercase;
}

.pagination__link--active {
  &:link, &:visited {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  &:hover, &:active {
    color: var(--color-link-hover);
    text-decoration: none;
  }
}

.pagination__link--next::after {
  color: currentColor;
  content: "»";
  left: 0.5rem;
  position: relative;
  top: -0.06rem;
}

.pagination__link--previous::before {
  color: currentColor;
  content: "«";
  position: relative;
  right: 0.5rem;
  top: -0.06rem;
}
