.related {
  border-top: 2px solid var(--color-border);
  padding: var(--padding) 0 0 0;
}

.related__heading {
  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-medium);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
