.share {
  grid-column: 1 / -1;
  position: relative;

  @media (min-width: #{$bp-medium}) {
    grid-column: 3 / -3;
  }
}

.share__heading {
  color: var(--color-text-secondary);
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;

  @media (min-width: #{$bp-social}) {
    text-align: center;
  }
}

.share__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 calc(var(--padding) * -1) -1rem calc(var(--padding) * -1);
  overflow-x: auto;
  padding: 1rem 0;
  scroll-padding-left: var(--padding);
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;

  &::before,
  &::after {
    content: "";
    flex: 0 0 50px;
  }

  @media (min-width: #{$bp-social}) {
    justify-content: center;
    margin: 0 0 -1rem 0;
    overflow-x: visible;

    &::before,
    &::after {
      display: none;
    }
  }
}

.share__button {
  align-items: center;
  background: var(--color-share-button-background);
  border-radius: 25px;
  border: 1px solid var(--color-share-button-border);
  color: var(--color-share-button-text);
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  font-family: var(--lato);
  font-size: var(--font-x-small);
  font-weight: 300;
  justify-content: center;
  line-height: var(--line-height-x-small);
  margin: 0 0.25rem 0 0;
  padding: 1rem;
  scroll-snap-align: start;

  &:hover {
    background: var(--color-share-button-background-hover);
    border: 1px solid var(--color-share-button-border-hover);
    color: var(--color-share-button-text-hover);
  }

  &:active {
    background: var(--color-share-button-background-active);
    border: 1px solid var(--color-share-button-border-hover);
    color: var(--color-share-button-text-hover);
  }
  
  svg {
    width: 1rem;
    height: 1rem;

    g,
    path {
      fill: currentColor;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.--is-hidden {
    display: none;
  }
}
