.stats {
  border-top: 2px solid var(--color-border);
  display: grid;
  grid-column: 1 / -1;
  gap: 0;
  grid-template-columns: subgrid;
  padding: var(--padding) 0 0 0;

  .stats__stat {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-between;
  }

  &.stats--has-four .stats__stat {
    grid-column: span 6;

    @include bp-medium {
      grid-column: span 3;
    }
  }

  &.stats--has-three .stats__stat {
    grid-column: span 4;
  }
}

.stats__container {
  display: grid;
  gap: var(--row-gap) var(--column-gap);
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.stats__heading {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.stats__number {
  @extend .extend-heading-gradient;

  font-family: var(--ibm-plex-sans-condensed);
  font-size: var(--font-x-large);
  font-weight: 700;
  line-height: var(--line-height-x-large);
  margin: 0;
  padding: 0;

  @include bp-medium {
    font-size: var(--font-large);
    line-height: var(--line-height-large);
  }

  @include bp-x-large {
    font-size: var(--font-x-large);
    line-height: var(--line-height-x-large);
  }

  @supports (text-box-edge: cap) and (text-box-trim: trim-both) {
    padding: 1rem 0;
  }
}

.stats__meta,
.stats__heading,
.stats__footer {
  color: var(--color-text-secondary);
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  font-weight: normal;
  line-height: var(--line-height-x-small);
  text-align: center;
  text-box-edge: text;
  text-box-trim: trim-both;
  text-transform: uppercase;
  white-space: nowrap;

  i {
    font-style: italic;
    text-transform: none;
  }

  a {
    display: inline-block;

    &:link,
    &:visited {
      color: currentcolor;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: var(--color-link);
      text-decoration: none;

      g,
      path {
        fill: var(--color-link);
      }
    }
  }

  svg {
    display: inline-block;
    height: var(--light-icon-size);
    vertical-align: text-bottom;
    width: var(--light-icon-size);

    g,
    path {
      fill: var(--color-text-tertiary);
    }
  }
}

.stats__unit {
  font-size: var(--font-medium);
  font-weight: 400;

  i {
    font-style: italic;
  }
}

.stats__footer {
  grid-column: 1 / -1;
  margin-top: 1rem;
}
