.weather {
  border-top: 2px solid var(--color-border);
  display: grid;
  grid-column: 1 / -1;
  grid-gap: var(--column-gap);
  grid-template-columns: subgrid;
  padding: var(--padding) 0 0 0;
}

.weather__icon {
  grid-column: span 2;

  @media (min-width: 1024px) {
    grid-column: span 1;

    @supports not ((text-box-edge: cap) or (text-box-trim: trim-both)) {
      margin-top: 0.5rem;
    }
  }

  g,
  path {
    fill: var(--color-heading);
  }
}

.weather__text {
  @extend .extend-body-styles;
  grid-column: span 12;

  @media (min-width: #{$bp-small}) {
    grid-column: span 10;
  }

  @media (min-width: 1024px) {
    grid-column: span 11;
  }

  p {
    margin: 0;
    text-box-edge: cap text;
    text-box-trim: trim-both;
    text-wrap: pretty;
  }

  p > span::after {
    color: var(--color-text-tertiary);
    content: '\00a0·';
  }

  p > span:last-of-type::after {
    content: '';
  }
}

.weather .weather__alert {
  align-items: center;
  color: var(--color-text-secondary);
  display: inline-flex;
  flex-flow: row nowrap;
  font-family: var(--ibm-plex-mono);
  font-size: var(--font-x-small);
  line-height: var(--line-height-x-small);
  margin-right: 1rem;
  text-transform: uppercase;

  &:link, &:visited {
    color: var(--color-text-secondary);
    text-decoration: none;
    g,
    path {
      fill: var(--color-text-tertiary);
    }
  }

  &:hover, &:active {
    color: var(--color-link-hover);
    text-decoration: none;
    g,
    path {
      fill: var(--color-link-hover);
    }
  }

  &:focus {
    text-decoration: none;
  }

  &:last-of-type {
    margin-right: 0;
  }

  svg {
    display: inline-block;
    margin-right: 0.25rem;
    vertical-align: middle;
    width: 1rem;
  }
}
