<article class="entry entry--compact" id="entry-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span><%= DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y') %></span>
    </p>
  </header>
  <div class="entry__body">
    <%= prepend_title(smartypants(article.title), render_body(article.intro)) %>
  </div>
</article>
