.extend-entry-header {
  h2,
  h3,
  h4 {
    font-family: var(--ibm-plex-sans-condensed);
    line-height: 1;
    margin: 1rem 0;

    a {
      padding-right: 1px;
    }

    a:link,
    a:visited {
      color: var(--color-link);
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: var(--color-link);
      text-decoration: underline 2px;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        background: var(--gradient-link);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-decoration-color: var(--color-link);
      }
    }
  }

  h2 {
    font-size: var(--font-large);
  }

  h3,
  h4 {
    font-size: var(--font-medium);
  }

  cite {
    font-style: italic;
  }
}
