:root {
  // Swatches: https://coolors.co/faf7fa-092034-bf0222-f9cb40-121216
    // Whites
  --color-snow:        #FAF7FA;
  --color-ghost-white: #F7F2F7;
  --color-magnolia:    #EFE6EF;
      // Blues
  --color-prussian-blue-lighter: #0F3557;
  --color-prussian-blue:         #0C2B45;
  --color-oxford-blue:           #092034;
  --color-rich-black:            #061523;
  --color-rich-black-darker:     #030B11;
      //   Reds
  --color-red-cmyk:         #F2022A;
  --color-rojo:             #DE0227;
  --color-firebrick:        #BF0222;
  --color-firebrick-darker: #B60220;
  --color-madder:           #A2021C;
      // Yellows
  --color-yasmine:        #FBD974;
  --color-naples-yellow:  #FAD461;
  --color-sunglow:        #F9CB40;
  --color-sunglow-darker: #F9C939;
  --color-saffron:        #F8C425;
      // Blacks
  --color-raisin-black-lighter: #25252D;
  --color-raisin-black:         #1C1C22;
  --color-night:                #121216;
      // Pure Grays
  --color-cultured:       #FAFAFA;
  --color-platinum:       #EBEBEB;
  --color-gainsboro:      #E0E0E0;
  --color-silver-chalice: #ADADAD;
  --color-spanish-gray:   #999999;
  --color-sonic-silver:   #7A7A7A;
  --color-granite-gray:   #666666;
  --color-jet:            #292929;
  --color-eerie-black:    #141414;

  // Basics
  --max-width-container: 1280px;
  --padding:             2rem;
  --content-padding:     2rem;
  --column-gap:          1rem;
  --row-gap:             1rem;

  // Colors
  --color-accent:                     var(--color-firebrick);
  --color-aside-background:           var(--color-oxford-blue);
  --color-aside-border:               var(--color-rich-black-darker);
  --color-aside-text:                 var(--color-snow);
  --color-background:                 white;
  --color-blockquote-border:          var(--color-border);
  --color-blockquote-text:            var(--color-text-secondary);
  --color-border:                     var(--color-magnolia);
  --color-button-background:          var(--color-firebrick);
  --color-button-border:              var(--color-madder);
  --color-button-hover:               var(--color-rojo);
  --color-button-text:                var(--color-cultured);
  --color-code-background:            var(--color-platinum);
  --color-code-border:                var(--color-gainsboro);
  --color-code-text:                  var(--color-text);
  --color-footer-background:          linear-gradient(135deg, var(--color-snow), var(--color-magnolia));
  --color-form-text:                  var(--color-jet);
  --color-heading:                    var(--color-oxford-blue);
  --color-link:                       var(--color-firebrick);
  --color-list-marker:                var(--color-text-secondary);
  --color-logo-hover:                 var(--color-firebrick);
  --color-logo:                       var(--color-eerie-black);
  --color-table-cell-background:      var(--color-background);
  --color-table-cell-border:          var(--color-border);
  --color-table-even-cell-background: var(--color-snow);
  --color-table-header-background:    var(--color-ghost-white);
  --color-table-last-cell-border:     var(--color-border);
  --color-text-secondary:             var(--color-granite-gray);
  --color-text-tertiary:              var(--color-spanish-gray);
  --color-text:                       var(--color-jet);

  // Font sizes
  --font-large:   24px;
  --font-medium:  16px;
  --font-small:   12px;
  --font-x-small: 10px;

  // Fonts
  --ibm-plex-mono:           'IBM Plex Mono', Menlo, monospace;
  --lato:                    'Lato', 'Helvetica Neue', sans-serif;
  --ibm-plex-sans-condensed: 'IBM Plex Sans Condensed', 'DIN Condensed', sans-serif;

  // Other
  --transition-duration: 150ms;
  --picture-outdent:     var(--content-padding);
  --avatar-size:         48px;

  @media (min-width: #{$bp-medium}) {
    --column-gap:      2rem;
    --font-large:      48px;
    --font-medium:     24px;
    --font-small:      18px;
    --font-x-small:    12px;
    --padding:         4rem;
    --picture-outdent: calc((100vw - (var(--content-padding) * 2) - (11 * var(--column-gap)))/12 + var(--column-gap));
    --row-gap:         4rem;
  }

  @media (min-width: #{$bp-large}) {
    --picture-outdent: calc((var(--max-width-container) - (var(--content-padding) * 2) - (11 * var(--column-gap)))/12 + var(--column-gap));
  }

  @media (prefers-color-scheme: dark) {
    --color-aside-background:           var(--color-eerie-black);
    --color-aside-border:               var(--color-jet);
    --color-aside-text:                 var(--color-text);
    --color-background:                 black;
    --color-border:                     var(--color-raisin-black-lighter);
    --color-code-background:            var(--color-eerie-black);
    --color-code-border:                var(--color-jet);
    --color-footer-background:          linear-gradient(135deg, var(--color-raisin-black-lighter), var(--color-night));
    --color-heading:                    var(--color-magnolia);
    --color-logo:                       var(--color-cultured);
    --color-table-even-cell-background: var(--color-night);
    --color-table-header-background:    var(--color-raisin-black);
    --color-text-secondary: var(--color-silver-chalice);
    --color-text-tertiary:  var(--color-sonic-silver);
    --color-text:           var(--color-platinum);
  }

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }
}
