<div class="form" data-controller="oauth-callback">
  <label>Authorization Code
    <input 
      type="text" 
      class="code-input"
      data-oauth-callback-target="input"
      readonly
      placeholder="Loading authorization code..."
    >
  </label>
</div>
