---
title: Page Not Found
summary: I'm sorry, but the page you were looking for can't be found.
body: I'm sorry, but the page you were looking for can't be found.
---

<div class="home" aria-labelledby="hed">
  <section class="home__intro">
    <h2 class="home__headline" id="hed">
      <%= smartypants(remove_widows(current_page.data.title)) %>
    </h2>
    <div class="home__body">
      <%= smartypants(markdown_to_html(current_page.data.body)) %>
    </div>
  </section>
  <% if data.articles.reject { |a| a.draft }.present? %>
    <%= partial 'partials/collection', locals: { title: "Recent Articles", items: data.articles.reject { |a| a.draft }.slice(0, 4) } %>
  <% end %>
  <% if data.events.present? %>
    <%= partial 'partials/collection', locals: { title: "Upcoming Races", items: data.events } %>
  <% end %>
</div>
