---
title: Page not found.
summary: I'm sorry, but the page you were looking for can't be found.
body: I'm sorry, but the page you were looking for can't be found.
---

<div class="home" aria-labelledby="hed">
  <section class="home__intro">
    <h2 class="home__headline" id="hed">
      <%= smartypants(remove_widows(current_page.data.title)) %>
    </h2>
    <div class="home__body">
      <%= smartypants(markdown_to_html(current_page.data.body)) %>
    </div>
  </section>
  <% most_read = most_read_articles %>
  <% if most_read.present? %>
    <%= partial 'partials/collection', locals: { title: "Most Read Articles", items: most_read, variant: "centered" } %>
  <% end %>
</div>
