<div class="home" aria-labelledby="hed">
  <h2 class="home__headline" id="hed">
    <%= smartypants(content.title) %>
  </h2>
  <div class="home__body">
    <%= render_home_body(content.body) %>
  </div>
</div>
