<header class="content__header">
  <h2 id="hed">
    <%= content.title %>
  </h2>
</header>
<main>
  <ol class="content__list">
    <% content.items.reject(&:draft).each do |item| %>
      <li><%= partial 'partials/article_compact', locals: { article: item } %></li>
    <% end %>
  </ol>
</main>
